<div class="row">
    <div class="col">
        <div class="container" style="padding-top: 20px;">
            <div class="row" style="padding-top: 20px;">
                <div class="col">
                    <h2>{{titulo}}</h2>
                </div>
            </div>
            <div class="container">
                <div class="row center animate__animated animate__backInLeft">
                    <div class="col-5" *ngFor="let poke of pokemons">


                        <div class="card mb-3 animate__animated animate__bounce pokemon-card" style="max-width: 500px;">
                            <div class="row">
                                <div class="col img">
                                    <img [src]="poke.sprites.front_default" class="img-fluid img-redonda" width="120" height="120" alt="...">
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h2 class="card-title">{{poke.name | titlecase}}</h2>
                                        <button class="btn btn-danger" [routerLink]="['/pokemones', poke.id]">Ver más</button>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- <app-modal-detalle *ngIf="pokemonSeleccionado" [pokemon]="pokemonSeleccionado" (close)="cerrarDetalle()"></app-modal-detalle> -->