<nav class="navbar navbar-expand-sm" style="background-color: #EF5350;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="../../../assets/pokeapi_256.3fa72200.png" alt="Pokemon" width="120" height="100%"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-1"></div>
            <div class="col">
                <!-- <div class="input-group" style="padding-left: 10px; padding-right: 10px;">
                    <input #txtBuscar class="form-control" type="text" placeholder="Buscar Pokemon..." aria-label="Search">

                </div> -->
            </div>
            <div class="col-3"></div>



        </div>
    </div>
</nav>
